$fontFamily: "Lato";
$fontPath: './fonts/Lato/';

$fontWeights: (
  Regular: 400,
  Bold: 700,
  Italic: 400,
);

@each $font-weight, $font-weight-value in $fontWeights {
  @font-face {
    font-family: $fontFamily;
    src: url("#{$fontPath}Lato-#{$font-weight}.woff2") format('woff2');
    font-weight: map-get($fontWeights, $font-weight);
  }
}